html {
  font-size: 62.5%;
}
main {
  width: 1200px;
  margin: 5rem auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.btn {
  background-color: orangered;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 1rem 3rem;
  cursor: pointer;
  transform: translateX(100rem);
}
main h3 {
  text-align: center;
  font-weight: bolder;
  font-size: 4rem;
  color: orangered;
}
.blogs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  cursor: pointer;
}
.blog {
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.7);
  padding: 2rem 3rem;
  width: 80%;
  border-radius: 12px;
}
.blog h3 {
  font-size: 3.5rem;
  color: rgb(126, 40, 9);
}
.blog p {
  font-size: 1.6rem;
  letter-spacing: 0.4px;
}
.blog p::first-letter {
  font-size: 4rem;
}
.blog span {
  color: orangered;
  font-weight: bolder;
}
@media screen and (max-width: 660px) {
  main {
    width: 100%;
  }
  .btn {
    transform: translateX(0);
  }
  .blogs-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 770px) and (min-width: 661px) {
  main {
    width: 100%;
    margin: 4rem auto;
  }
  .btn {
    transform: translateX(0);
  }
  .blogs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1250px) and (min-width: 769px) {
  main {
    width: 100%;
    margin: 4rem auto;
  }
  .btn {
    transform: translateX(1rem);
  }
  .blogs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
