html {
  font-size: 62.5%;
}
.nav-contents {
  background-color: #eee;
  border-radius: 10px;
  padding: 2rem 4rem;
  margin: 3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  background-color: #fb3030;
  border: none;
  padding: 1rem 3rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  transition: all 0.9s;
}
.sort-by-view:hover {
  filter: brightness(0.9);
}
.sort-by-view:active {
  /* background-color: aqua; */
  transform: scale(0.9);
}
hr {
  margin: 2rem 8rem;
  font-weight: bolder;
}

.categories-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  font-size: 2rem;
}
.categories-container h3 {
  background-color: rgb(18, 77, 129);
  color: #fff;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 10px;
}
.categories-container h3:hover {
  background-color: rgb(18, 77, 129, 0.9);
}
.active {
  background-color: navy;
}
