html {
  font-size: 62.5%;
}
.nav-contents {
  background-color: #eee;
  border-radius: 10px;
  padding: 2rem 4rem;
  margin: 3rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  background-color: #fb3030;
  border: none;
  padding: 1rem 3rem;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  transition: all 0.9s;
}
.sort-by-view:hover {
  filter: brightness(0.9);
}
.sort-by-view:active {
  /* background-color: aqua; */
  transform: scale(0.9);
}
hr {
  margin: 2rem 8rem;
  font-weight: bolder;
}

.categories-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-size: 2rem;
}
.categories-container h3 {
  background-color: rgb(18, 77, 129);
  color: #fff;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.9s;
}
.categories-container h3:hover {
  background-color: rgb(18, 77, 129, 0.9);
}
.categories-container h3:active {
  background-color: red;
  transform: scale(0.7);
}
.active {
  background-color: navy;
}

main {
  max-width: 1200px;
  margin: 4rem auto;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  opacity: 0;
  transition: opacity 4s;
}

.news {
  /* width: 20rem; */
  border-radius: 12px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.8);
  padding: 1rem 2rem;
  cursor: pointer;
  overflow: hidden;
  height: 360px;
}
.image-container {
  position: relative;
  width: 200px;
  margin: 0 auto;
}
.minutes {
  position: absolute;
  top: 80%;
  left: 70%;
  color: #eee;
}
.image-container img {
  width: 20rem;
  height: 20rem;

  border-radius: 20px;
}
.info {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 2rem;
}
.icon img {
  margin-top: 2rem;
  width: 90%;
  height: 40%;
  border-radius: 50%;
}
.text {
  text-align: center;
}
.author-name {
  color: rgb(35, 1, 1);
  font-size: 1.2rem;
  font-weight: bold;
}
.verify-icon {
  width: 3rem;
  height: 3rem;
}
.news-title {
  font-size: 2rem;
  text-align: center;
}

.views {
  font-size: 1.5rem;
  color: #e17e7e;
  margin-bottom: 2rem;
}
.no-content {
  display: none;
}
.image-no-content {
  width: 120px;
  margin: 4rem auto;
}
.no-content img {
}
.no-content h1 {
  text-align: center;
  font-size: 5rem;
}
.no-content span {
  color: #fb3030;
}

/* responsive */

@media screen and (max-width: 660px) {
  .nav-contents {
    background-color: #fff;
    padding: 0.4rem;
    flex-direction: column;
    gap: 2rem;
  }
  .categories-container {
    flex-wrap: wrap;
    gap: 1rem;
  }
  main {
    max-width: 660px;
    margin: 2rem auto;
  }
  .news-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .news {
    width: 80%;
    margin: 0 auto;
  }
  .image-container {
    width: 100%;
  }

  .image-container img {
    width: 100%;
    margin: 0 auto;
  }
  .info {
    grid-template-columns: repeat(2, 1fr);
  }
  .icon img {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 770px) and (min-width: 660px) {
  main {
    max-width: 900px;
    margin: 4rem auto;
  }
  .news-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .image-container {
    width: 100%;
  }
  .image-container img {
    width: 100%;
  }
}
